[2015-03-12 11:49] zewa666 opened #2 "Wire up as plugin"
Please add the plugin part so we can see how to override the original `template/animator.js` and start adding Animations to the Skeleton App

[2015-03-12 22:02] zewa666 opened #3 "Add staggering animations"
Add a nice way to define staggering animations. The current approach is that the user would have to define a custom animation-delay by himself:

[code]

maybe we could add a new class with a delay suffix which gets parsed by the animator. Something like this:
[code]

[2015-03-19 20:35] EisenbergEffect commented on #2
Fixed in 19f4f74054da97177e13d3e55333a5f7deddab15

[2015-03-19 20:35] #2 closed

[2015-03-30 22:26] andrewmunsell opened #6 "Animation Timeout Removes Classes Before Animation Start"
Because the plugin tries to remove the `au-{event}` and `au-{event}-active` classes after 50ms if the animation has not started, I am running into an issue where the classes are removed before the `animationstart` event ever fires.

I changed the timeout value from 50ms to 100ms and the issue was fixed in Chrome.

Also, this might present an issue if the `animationstart` event is only fired after

[2015-03-31 08:08] zewa666 commented on #6
Hi there, thanks for the feedback. Could you tell me the scenario where you had those timing issues? Was it inside a repeater or on normal elements? I've been able to sometimes see the behavior on the repeater, but not in a reproducible way so I'd be glad to hear about your try.

Regarding the animation-delay, I was going to add more logic to the implementation, checking whether the classes do use

[2015-03-31 18:57] andrewmunsell commented on #6
The issue was actually in a top level `router-view`-- there wasn't any nesting or anything really complicated. This is a somewhat larger application (it's definitely not just the skeleton navigation), but still what I'd expect is considered a normal use case.

I was running this on a mid-2012 Macbook Air.

Basic structure of the app to give you an idea where it is, though this is greatly simplifie

[2015-04-11 15:15] zewa666 commented on #6
@andrewmunsell sry that it took me so long, but I think the latest release now fixes as well the not triggering of animations (essentially just increased the delay as you suggested) and respects a set animation delay.

[2015-04-11 15:15] #6 closed

[2015-04-22 09:34] zewa666 commented on #3
Done with https://github.com/aurelia/animator-css/commit/d57d22b6dd6f4653c8463e27b41cedd38f7c7df3

[2015-04-22 09:34] #3 closed

[2015-04-29 21:01] jus101 opened #7 "Concurrent enter/leave transitions"
Am wondering if it would be possible to do concurrent transitions between the outgoing and incoming views?

Basically, the outgoing view is animated out while at the same time the incoming view is animated in.

Typically, if navigating down a hierarchy of views, the parent would slide out to the left, while the target child would slide in from the right.

[2015-04-29 21:34] EisenbergEffect commented on #7
@zewa666 Can you look into this? It's an important scenario to cover.

[2015-05-01 17:27] mtimms opened #8 "Animation not working IE11"
The animation effect on Skeleton.013 works on Chrome but has no effect in IE11.

[2015-05-01 17:41] EisenbergEffect commented on #8
@zewa666 Can you take a look at this please?

[2015-05-04 09:51] zewa666 opened #9 "Update plugin installation procedure"
Adapt to new syntax `configure` for plugins

[2015-05-04 14:05] zewa666 commented on #8
Seems to be related to ViewSlot handling https://github.com/aurelia/templating/blob/master/src/view-slot.js#L202, might got introduced with the latest batch of changes. We'll get that fixed

[2015-05-04 14:10] zewa666 commented on #7
@jus101 sure that works out of the box. If you look at the css classes for the section in the navigation app example https://github.com/aurelia/skeleton-navigation/blob/master/styles/styles.css#L49-L52, all you'd have to do is define the same one for the `section.au-leave-active` class and add your animations in there.

[2015-05-04 20:26] jus101 commented on #7
Hmm - I  think that's what I have tried, but what I see is the outgoing view animate out; the router-vew slot is then replaced with the incoming view, which is then animated in.

I'm guessing that to get the desired effect, both views would need to remain in the DOM until both of their animations are complete?

[2015-05-04 21:02] zewa666 commented on #7
oh ok ... sry didn't get that you'd really like to have both of them "at the same time". hmm yeah that one could be a bit tricky, as you mentioned they'd need to be both present in DOM in order to work.

[2015-05-04 21:09] jus101 commented on #7
Yeah, sorry - I did a quick search and found this example:
http://cases.azoft.com/iphonestyle-web-page-transitions-angularjs-css-demo/#/

So maybe, a question for @EisenbergEffect as to where to go with this - might require changes deeper into the other framework components?

[2015-05-04 21:12] EisenbergEffect commented on #7
@zewa666 This is why the router-view specifically uses the ViewSlot.swap method. I believe an update to that implementation, in terms of how it interacts with the animation abstraction, is needed to fully enable this. Not that this is also how the compose element works. So, fixing the ViewSlot.swap and corresponding animation apis, will solve both cases.

[2015-05-08 17:09] #8 closed

[2015-05-09 05:40] #9 closed

[2015-05-11 06:12] jus101 commented on #7
I came across this a few days ago https://github.com/Rich-Harris/ramjet
Was wondering if animator-css could take a similar approach - i.e.
1. Clone the outgoing au-animate element
2. Dispose of the real outgoing element
3. Start the leave animation on the clone
4. Append incoming au-animate element
5. Start the enter animation on the incoming element
6. Dispose of clone element once leave animatio

[2015-05-16 15:01] mgenev opened #10 "delay on changing routes"
You're aware of the issue, I first reported in the gitter and logged here: https://github.com/aurelia/skeleton-navigation/issues/98

Thank you for your hard work.

[2015-05-22 07:57] akircher commented on #7
+1 on concurrent swaps.  I want my website to look like a prezi :)

[2015-05-22 19:48] akircher opened #11 "Flash of Unstyled Content"
I don't see FOUC on the default skeleton-nav app, which only uses au-enter animations.  However, if I add au-leave animations as well, then I get a FOUC in between page transitions.  Unfortunately, I am not sure if the flash is the unstyled page leaving or the unstyled page entering.

[2015-05-25 16:06] zewa666 commented on #11
Could you post an example including the css markup?

[2015-05-28 06:01] akircher commented on #11
http://plnkr.co/edit/dX5K8O?p=preview

[2015-05-30 09:23] zewa666 commented on #11
@akircher hi, i've pushed a new branch `animation-done-class`. If you could check this one out and see whether it solves your problem that'd be awesome. What it does is to set an `au-entered` or `au-left` class on elements after successful animations. This feature is opt-in, means in order to use it you'd have to configure it manually like this in your manual bootstrapping:

[code]
We might need t

[2015-06-01 15:40] zewa666 opened #13 "Use event aggregation to provide animation events"
An opt-in feature could be to trigger events on certain situations during animations. The first pass should just retrigger the original catched ones.

Lets see if we find more use cases around this.

[2015-06-02 00:33] akircher commented on #11
Not sure if this is the right approach.  My need is just a place holder for issue #7, I want to have one view leave and then another view enter.  Right now, I am doing that sequentially - rather than concurrently - resulting in a flash.  Maybe it's best to wait and see that solution before building in a configuration step.

[2015-06-03 15:55] zewa666 commented on #13
@EisenbergEffect Would you solve that using the EventAggregator or with Custom Events? I'm not sure whether adding a dependency to the EA Repo is going to introduce additional weight

[2015-06-03 15:57] EisenbergEffect commented on #13
I would use DOM events.

[2015-06-03 16:15] zewa666 commented on #13
I'm just wondering how we can provide a known list of events, so that all Animator have the same set. Guess the easiest would be to include a pseudo-enum as class within the BaseAnimator, which then may be used by the concrete implementation?

Here's my recommended set of events:
* animation:enter:begin
* animation:enter:active
* animation:enter:done
* animation:enter:timeout
* ---
* animation:lea

[2015-06-03 16:33] EisenbergEffect commented on #13
Yes, we could just create an enum, something similar to how the bindingModes works, for example. That can exist inside of the templating repo.

As to the events themselves, I look to you for that, since you've worked more with the animation than I have.

[2015-06-09 20:12] zewa666 commented on #10
This should be fixed with the latest release, please report back if you still have issues @mgenev. Going to close this in the meantime

[2015-06-09 20:12] #10 closed

[2015-06-09 20:26] mgenev commented on #10
I'll test the new skeleton now. Thank you.

[2015-06-24 13:22] zewa666 opened #18 "Add missing interface methods"
The CssAnimator needs to implement the missing interface methods:

* animate
which under the hood calls addClass and after successful animation the removeClass method

* runSequence
accepts an array of animations, returns on Promise.all

[2015-06-25 11:32] zewa666 commented on #18
Will start with this as soon as https://github.com/aurelia/templating/pull/112 gets merged

[2015-06-25 11:33] #13 closed

[2015-07-01 20:05] #18 closed

[2015-07-03 05:25] SiddiqueAhmad opened #20 "au-animate repeat"
if we have array of items and have put the au-animate, it make it too slow if we load items via services

<div class="col-sm-6 col-md-3 flickr-img au-animate" repeat.for="item of items">

[2015-07-03 09:14] zewa666 commented on #20
Hi @SiddiqueAhmad, could you please explain what the problem is? I didn't understand it from your question. Why should it be slow? Inside your template, let's say it's a series of LI elements, you just add the class:

[code]

[2015-07-03 09:23] SiddiqueAhmad commented on #20
[code]

when i update items via service, it just become too slow

[2015-07-03 09:26] SiddiqueAhmad commented on #20
@zewa666 is it clear now

[2015-07-03 09:29] zewa666 commented on #20
not really sry, the only reason I could see is that you use a too long lasting animation and it feels too slow. Take a look at the skeleton navigation example and the flickr page, where we do exactly the same without any real performance issue.

[2015-07-03 09:34] SiddiqueAhmad commented on #20
i used the same from flickr, just was trying to filter and it become dead slow, i removed the au-animate and it was all fine, i discussed the same on gitter channel too

[2015-07-03 09:36] SiddiqueAhmad commented on #20
this is gist where i have added code
https://gist.github.com/SiddiqueAhmad/4c3d1c4c88222edd3d22

[2015-07-03 09:43] zewa666 commented on #20
can I ask you to create a github repo, reproducing the error, it's hard to spot the issue that way without seeing what animation are happing.

[2015-07-03 10:20] SiddiqueAhmad commented on #20
yes, here it is

https://github.com/SiddiqueAhmad/aurelia-working

go to search route, click active button, click 2 3 times

[2015-07-03 11:15] zewa666 commented on #20
Ok I think I understand what you're talking about. Is it the removal of elements which acts slowly for you? This actually happens because you're using staggered animations in your example https://github.com/SiddiqueAhmad/aurelia-working/blob/master/styles/styles.css#L55

those timeouts are added up on each item and also apply for the leave-animation. So essentially reducing the staggering time or

[2015-07-10 23:16] MaluTom opened #22 "Publish to bower"
Could you please publish this component to bower? It doesn't seem to be available there as of yet

[2015-07-14 16:51] EisenbergEffect commented on #22
Done!

[2015-07-14 16:51] #22 closed

[2015-07-21 14:58] #20 closed

[2015-08-14 01:49] davismj commented on #7
I'm running into the same issue. If you want me to take a look at this, please point me in the right direction.

[2015-08-14 06:05] zewa666 commented on #7
@davismj yes please, help would be greatly appreciated. Essentially what we need is that at one moment in time both pages, the old and the new one, are together in the DOM and respect the animators promises before disappearing. This has to be done in the ViewSlot's swap method. https://github.com/aurelia/templating/blob/master/src/view-slot.js#L178

It sounds like a small change, but whatever I tr

[2015-08-27 18:37] KarlDirck opened #27 "TypeScript Definition error"
For release 'animator-css@0.15.0', the aurelia-animator-css.d.ts file includes the following on line 28:
`    runSequence(animations: Array<CssAnimation>): Promise<boolean>;`
which results in a TS error:
`aurelia-animator-css.d.ts(28,35): error TS2304: Cannot find name 'CssAnimation'.`

[2015-08-27 21:19] zewa666 commented on #27
@cmichaelgraham can you help out with this one?

[2015-08-27 21:20] EisenbergEffect commented on #27
I can fix it. The interface isn't making it into the build. Easiest thing to do would be to move it into one of the other files.

[2015-08-28 07:23] zewa666 commented on #27
Sure yes please go ahead. Anyway it would be interesting to know how we can use separate files which contain the interface, in case other modules got more of them.

[2015-09-04 00:57] EisenbergEffect commented on #27
This is fixed and going out in the next release tomorrow.

[2015-09-04 00:57] #27 closed

[2015-09-14 06:13] tomsean commented on #7
anyone who have implement this effect when page change like  http://cases.azoft.com/iphonestyle-web-page-transitions-angularjs-css-demo/#/

[2015-09-20 03:32] aidesigner opened #28 "Race condition between animation start and animation timeout"
I believe I have found an issue using the custom animation trigger (animator.animate(...)). The aurelia-animator-css.js has a fixed timeout (this.animationTimeout = 50), which was causing my animations to not start 50% of the time. Basically the animation needs to start, trigger "webkitAnimationStart animationstart", and get to this line of code "_this7._addAnimationToStack(animId);" within 50ms o

[2015-09-20 12:18] EisenbergEffect commented on #28
@zewa666 Can you look into this? We need a robust and performant way to handle this. We don't want unnecessary delays..and we don't want them to be too short either.

[2015-09-29 07:12] zewa666 commented on #28
@aidesigner it's pretty hard to test this since I cannot reproduce it. The delay of 50ms normally is far more then necessary since the event should immediately trigger. So essentially the delay is necessary for items which are annotated with au-animate but have no CSS animation defined.

Can you maybe try to isolate the issue somehow to make it reproducible?

[2015-10-12 07:01] #11 closed

[2015-10-15 02:29] michaelmalonenz commented on #28
@EisenbergEffect @zewa666 I think I have reproduced this bug after the latest release.  Please find the code (based on the skeleton) here: https://github.com/michaelmalonenz/skeleton-navigation/tree/bug/animator-css%2328

[2015-10-15 02:36] EisenbergEffect commented on #28
@zewa666 Please take a look when as soon as you can. Thanks!

[2015-10-15 04:47] michaelmalonenz commented on #28
Ok, maybe it's a different bug - upping the this.animationTimeout to 500ms did nothing to solve the issue. It still is an interaction with animator-css, though (the issue doesn't present without it installed).

[2015-10-15 12:39] zewa666 commented on #28
@michaelmalonenz thank you very much for creating the sample, sadly though I just can take a better look at it next week since I'm currently on vacation and stuck with a horribly old macbook and bad work conditions like no stable internet etc. :angry:

[2015-10-21 22:03] npelletm opened #29 "Cleanup temporary class name not work"
With a simple ```<div class="fa fa-spinner fa-spin"  show.bind="isWaiting"></div>``` on the first load with ```isWaiting=false```, the class remains ```aurelia-hide-add``` in place of ```aurelia-hide```
I've this issue on IE11

Here, https://github.com/aurelia/animator-css/blob/master/src/animator.js#L542 the test < 0 seems to be bogus, with a  >=0  test it works.

There are the same potential iss

[2015-10-21 22:58] EisenbergEffect commented on #29
@zewa666 Please take a look into this. Thanks!

[2015-11-13 01:47] EisenbergEffect commented on #7
This is supported now in the router-view and we'll add it to the compose element as well. See the latest release blog post for more information.

[2015-11-13 01:47] #7 closed

[2015-11-15 11:22] zewa666 commented on #28
@aidesigner and @michaelmalonenz is this issue still present with the latest release of the skeleton navigation app? I still can't reproduce it and wonder if it maybe had either to do with some old issues or another module used in combination with the animator. @michaelmalonenz potentially the issue happened in combination with aurelia-dialog.

Please check again, I will take a closer look at the

[2015-11-15 19:45] michaelmalonenz commented on #28
@zewa666 The issue I am seeing is exactly what @npelletm was seeing in #29 and like their issue, mine is only present when I am using FontAwesome `fa fa-spin` classes on at least one of the elements.  I am using Windows 10 and it presents on Chrome, IE, Firefox and Edge.

My sample repo is here:
https://github.com/michaelmalonenz/skeleton-navigation/tree/bug/animator-css%2328

[2015-11-16 16:23] Mordred commented on #29
Same here, with this HTML:

[code]

If you switch `processing` to true in one tick and then to false in another. Both spans will have 'aurelia-hide' class.

Demo:
http://plnkr.co/edit/hyV1AIjZBx2B4ZHLFAIA?p=preview

[2015-11-16 21:26] zewa666 commented on #29
ok so the issue comes down to this change: https://github.com/aurelia/templating-resources/commit/019a2062449ecba8b8091889c358dfc425ae5424

reverting this to `this.element.classList` operations fixes it for me. @Mordred can I ask you to manually change that (jspm_packages/npm/aurelia-templating-resources.../show.js) and verify that this works for you as well? If so we know where to fix the issue.

[2015-11-16 21:28] zewa666 commented on #28
@michaelmalonenz ok so it seems the issue is related to the show attribute. we'll get that sorted out now that we know the root-cause

[2015-11-16 22:14] Mordred commented on #29
@zewa666 Yes, this has fixed the button, but I think this should be fixed at animator level. Problem is that **animationstart** and **animationend** can bubble from children even if there is no animation for animated element itself.

[2015-11-16 22:29] zewa666 commented on #29
you're right @Mordred. The issue is all about the timeout and not being able to identify which's event (add or remove) was fired.

In your example try increasing the timeout high enough (e.g. 55) and it works again. So I think we need to find a way to tie the anmiationstart/end event not only to an element but also the animation method itself.

[2015-11-18 08:08] zewa666 commented on #29
@Mordred can you test the new release please? It should now properly cleanup all classes.

[2015-11-19 14:23] Mordred commented on #29
@zewa666 Yes, it is working now. Classes are OK.

Sometimes the 50ms delay is visible - both spans are hidden. How you get that timeout number?

[2015-11-19 14:40] EisenbergEffect commented on #29
@zewa666 I think this is ok as a quick fix. I'm not sure we want a timeout as a long-term solution. Can you look at an alternate way to address this?

[2015-11-19 14:43] zewa666 commented on #29
Well if we work with CSS3-Animations we're always bound to the timeout, since we don't know when the animation will trigger. The idea is that you set a specific css-class to an element and the element will trigger a DOM-Event. now that should work quite fast, but I realized sometimes it takes a while. 50 was just a guessing by myself, it should also work with lower values. Thats why it's modifiabl

[2015-11-25 09:06] npelletm commented on #29
Latest beta 1.0.1 version solve the issue

[2015-11-25 09:06] #29 closed

[2015-11-25 15:37] zewa666 commented on #28
@aidesigner and @michaelmalonenz can you re-test with the latest beta. I guess the fixes for the other issue should have helped here as well

[2015-11-25 19:43] michaelmalonenz commented on #28
@zewa666 I'm still seeing the issue.  I've committed the package updates to the repo I mentioned above, so let me know if I've missed something.

[2015-11-26 07:51] zewa666 commented on #28
@michaelmalonenz I cannot follow the example as you bind towards a variable `createRequestSent` which is never defined, so I'm not sure what the example should demonstrate.

[2015-11-26 19:50] michaelmalonenz commented on #28
Oh dear, that is embarrassing.  Nevertheless, I have now corrected the code and I still see the issue.

[2015-11-27 07:38] zewa666 commented on #28
ok cool now I see the issue, still in the show binding ... hmm have to debug that one better.

[2015-12-01 13:26] Einarsson commented on #29
Still have issues like this with latest framework (updated it all today).

http://i.imgur.com/CF44oSy.png

As you can see here, account.isBusy is false but tr-row is still showing.

This is a case where the account loads it's transactions, so when loading it sets busy and when http-call is done it sets isbusy = false again. Sometimes doesnt, work, sometimes it does.

[2015-12-04 06:16] ohjames commented on #28
I'm seeing this issue with a `repeat.for` and a small list of elements. I have to up the `animationTimeout` to `100` for a list of about 10 items. For 40 items I need to up it to `500` or I don't see animations at all.

[2015-12-04 07:26] ohjames commented on #28
In the afformentioned case I'm not using `show.bind` at all.

[2015-12-04 14:01] ohjames commented on #28
The only way I could get animations to work is to increase the animation timeout to a really high value. However this then triggers another bug with this code and animations can start interfering with each other. I've opened a fix for that in [this pull request](https://github.com/aurelia/animator-css/pull/32)

[2015-12-04 14:37] ohjames commented on #28
It seems this is fairly easy to reproduce, just include a `repeat.for` element with a non-trivial body and keep adding items to the array you're repeating. It depends on the browser but eventually once you've added enough items to the array this race condition triggers. With chrome on linux it triggers very easily.

I'm thinking that to check if an animation will occur that an element's `style` sh

[2015-12-04 15:28] ohjames commented on #28
I've found a way to solve this, will be opening a PR later today.

[2015-12-05 14:08] ohjames opened #34 "No keyframe interpolation in firefox"
In firefox if I set an animation for opacity up from 0 to 1 over n seconds, I see opacity 0 for `n / 2` seconds then opacity of 1 for `n / 2` seconds.

I haven't tested this with fields other than opacity yet.

I think this issue might be due to `repeat.for`, I'm not sure but I think it changes the z-index after the element is inserted, and I'm pretty sure firefox has issues with animations couple

[2015-12-05 14:18] ohjames commented on #34
This occurs when using `!important` on the `au-enter` class only (as recommended on a few tutorials). Removing the `!important` fixes this.

[2015-12-05 14:18] #34 closed

[2015-12-05 23:48] ohjames opened #35 "Race-condition #2, Subscribing to `animationend` after `animationstart` can lead to missing the `animationend` event."
To reproduce:

1. Include an element with a `repeat.for` over an array.
2. Add opacity transition lasting 0.1 second to each repeated item.
3. Add 25 items to list.
4. Add another 25 items to list after 0.05 seconds.

With only 50 animated items on the screen at one time coupled with the short animation time the `animationend` event can fire before the callback that was supplied to the `animations

[2015-12-06 00:02] ohjames commented on #35
Submitted a PR for the fix built on top of the work for the previous race condition fix.

[2015-12-09 07:31] #35 closed

[2015-12-17 03:30] michaelmalonenz commented on #28
After updating all to the latest releases, this issue has been fixed for me.  Thanks @ohjames @zewa666  and @EisenbergEffect for your responses on this

[2015-12-17 07:14] zewa666 commented on #28
if we can get a response from @aidesigner I'd gladly close this issue. Thanks for the great work and contribution @ohjames

[2015-12-17 11:58] ohjames commented on #28
Even after this fix there is still one very serious race condition when using `repeat.for` with any animator that leads to loss of sync between the model and view, then eventual crashes.

One more fix will be necessary, either in `ViewSlot` or the `repeat` code.

[2015-12-20 07:54] joelcoxokc commented on #28
I had a few concerns about the initial Animator.
This has been an issue for me for a long while, I have been toying with it for quite some time.
My biggest use case is animating viewsSlots with high performance across browsers and platforms, like IOS and Android

So here is my solution.

I actually basically rebuilt the Animator.

However, I do not know all of the use cases, so it may need to be t

[2015-12-20 08:28] joelcoxokc commented on #28
So Here is the deal, It is necessary that you do not view the code, until you understand the following

I have created and AnimationInstruction class
This class has a lifeCycle of arrays,
Each array contains classNames that will be either added or removed
at different points throughout the animation lifeCycle

Each AnimationInstruction instance will contain three Objects

[code]

The `add` and `re

[2015-12-20 15:24] EisenbergEffect commented on #28
@joel. A couple of questions:

1. Are you intending to change the public interface of the animator or is this just a set of internal implementation changes? We can't change the public interface at this point...
2. Can you be clear about what this actually improves? Does it improver performance? Have you measured that? In what scenarios? Or is this just a refactoring/cleanup/simplification?
3. Have

[2015-12-21 17:16] joelcoxokc commented on #28
@EisenbergEffect
1: Public Interface Remains
2: Yes and Yes,
 - Performance:
   - We don't check for browser prefixes on every animation.
   - We don't create two event Listeners for Every Animation
   - Handling keyframeLookup based on preference
   - setTimeout was never being cleared (which was causing the timeout issue)
   - Also unit tests were no unbinding events (also causing invalid tests

[2015-12-21 17:18] EisenbergEffect commented on #28
Ok, that sounds good. @joelcoxokc Can you create a new PR with the refactor. When that's in place, we'll have @zewa666 do as review. Assuming everything looks good, we can merge it in.

[2015-12-21 17:26] ohjames commented on #28
I'll also check over the PR, I've got a bunch of recent experience hunting down race conditions to do with the `animator` and `repeat.for`. I'm glad it's being refactored, the existing code badly needs to be refactored, giant sections of code are cut and paste throughout the file with only small modifications. Prefix handling to me isn't a big deal, should only be a very tiny part of this

@joelco

[2015-12-21 17:39] ohjames commented on #28
Sorry one more question:

What is "the timeout issue" here? If it's the one referred to by this github issue I worry you may be missing some things.

[2015-12-21 18:57] joelcoxokc commented on #28
@ohjames I have the latest, with the setTimeout under stagger. Under the hood it is primarily doing the same thing just a few minor changes. Events are properly bound.

I will be submitting the code here in about 20 minutes.

[2015-12-21 19:56] joelcoxokc commented on #28
@EisenbergEffect @zewa666 @ohjames
Ok So the API is similar to what I explained above. I made A few minor Changes.

## The Property class

I removed the static `Property,animation|transition|transform`

Now Property is an exported instance. and all necessary Properties, events, and css Properties exist in the same format on the Property Instance.

ExampleUsage

[code]

Here is the interface for th

[2015-12-22 06:26] corneliutusnea opened #38 "Crash in Animator.addClass when the element is @containerless()"
I have this piece of code
[code]
When this gets displayed I get the exception
[code]

This seems to happen when the workflow-report is marked as `@containerless()`

[2015-12-22 06:28] EisenbergEffect commented on #38
Yes, you are getting that error because there is literally no `workflow-report` to show/hide. The container element doesn't exist. I recommend not using containerless elements in general. It's an edge case thing, mostly meant to be used with router-view and compose. You shouldn't build standard custom elements in this way.

[2015-12-22 06:28] #38 closed

[2015-12-23 07:47] kdeberni opened #39 "Animation throws error when using external css"
We just moved to beta version and I think there is a bug in animator.js in method _animationChangeWithValidKeyframe when using external css.
In line 156 is an itterator through cssRules of a styleSheet. However styleSheet from external css have null in cssRule property so an error is thrown on code 'cssRules.length'.
Or I am missing something?

[2015-12-23 08:59] zewa666 commented on #39
@kdeberni good catch, fix is checked into master and will be rolled out with the next release

[2015-12-23 10:01] kdeberni commented on #39
@zewa666 Thanks for the info. By the way animation now works superb :-). Realy like the job you have done.

[2015-12-23 14:30] EisenbergEffect commented on #39
Ok, I'll close this issue. @zewa666 If it looks good to you, I can do a patch release. Let me know and I'll get it out.

[2015-12-23 14:30] #39 closed

[2015-12-23 16:33] zewa666 commented on #39
@EisenbergEffect oki doki ready for release :+1:

[2015-12-31 08:42] kdeberni opened #40 "Firefox throws "SecurityError" exception"
This is actualy connected with issue #39 (external css).
I found out that usage of cssRules of an external styleSheet in Firefox throws "SecurityError" exception. This is the the case in line 154 of animator.js.
The only working "fix" I found is to wrap access to cssRules with try/catch.

[2015-12-31 14:25] EisenbergEffect commented on #40
@zewa666 Can you look into this?

[2016-01-01 16:40] DamageLimiter opened #41 "Animation for new view is completely finished before animation for old view starts"
I am not quite sure if it's intended like this as default behaviour. But right now what happens is, that on navigation the new view animation finishes completely before it starts with the animation of the old view. But what if I'd like to have my old view disappeared before the new one starts to "slide" in?

In my current scenario I want to have my current view animated with `fadeOutLeft` and my n

[2016-01-01 16:53] DamageLimiter commented on #41
Apologies. It's not a bug. It's my fault. I wasn't aware of "swap-order".
`swap-order="after"`fixed the problem. Sorry for any inconvenience caused.

[2016-01-01 16:53] #41 closed

[2016-01-01 17:08] EisenbergEffect commented on #41
If you update, I believe that swap-order="after" is now the default.

[2016-01-01 17:18] DamageLimiter commented on #41
Yes, you are correct. I messed with my router-view a couple of weeks ago. I had `swap-order="before"` defined and `show.bind="!router.isNavigating"`. I didn't even remember doing this :-P
I've created a trap, forgot about it and jumped right into it.

[2016-01-01 17:27] EisenbergEffect commented on #41
LOL Glad it's all fixed :)

[2016-01-19 23:18] lares83 opened #42 "Animations issue in firefox"
Hi,
I've prepared code on plunker:
http://plnkr.co/edit/00Rq7W?p=preview

As you can see list animation works fine in Chrome and Edge but in Firefox it doesn't.

[2016-01-20 07:55] zewa666 commented on #42
this is more an issue with css. Firefox seems to have an issue setting `opacity:0 !important`. Your activation hooks also contained only standard + webkit prefixes but no -moz prefixes.

Take a look at the updated plunkr here

http://plnkr.co/edit/e6t6WGUBaQtX1Egj5qMY?p=preview

[2016-01-20 08:26] lares83 commented on #42
Yes now it's working fine. It was due to `opacity:0 !important`. As far as I know Firefox right now doesn't need -moz prefixes, so removing `important` fixed issue.

I took all those styles from aurelia blog
http://blog.durandal.io/2015/07/17/animating-apps-with-aurelia-part-1/

Maybe it would be good to upgrade this post for others.
Could you also add some article about animations in aurelia docs

[2016-01-20 08:26] #42 closed

[2016-01-20 13:39] EisenbergEffect commented on #42
@zewa666 Do we need to update the source in the skeletons? If so, can you submit a PR for that?

[2016-02-03 12:49] ohjames commented on #28
@aidesigner I believe my PR in #35 fixes this issue, could you close it?

However you should be aware that there are still race conditions and that animations + repeat.for are still not something I would consider using: see https://github.com/aurelia/templating-resources/issues/183

[2016-02-03 13:36] #28 closed

[2016-02-03 13:40] aidesigner commented on #28
Thanks for all the effort to address this issue.  With the complete rework of the Animator I have a high degree of confidence the initial issue is solved.  Should any issue arise I will open a new linked issue.

[2016-02-03 13:43] EisenbergEffect commented on #28
@aidesigner Are you referring to Joel's animator PR from above. (We haven't merged it yet.) Did you try that and find that it solved the issues?

[2016-02-03 14:10] aidesigner commented on #28
@EisenbergEffect My comments where directed at Joel's animator PR and I have updated my previous comments.  With Joel's complete internal restructure my feeling is that any timing issue would be a variation and constitute a separate ticket.  I am inclined to try it out at the next opportunity because of quality/effort in the PR.

[2016-02-03 14:23] ohjames commented on #28
@aidesigner the issue is already solved with my recent PRs, you can test it today. Joel's rewrite removes a lot of duplication that currently exists in the code though which seems great, looking forward to testing it.

[2016-02-27 01:27] Tinadim commented on #7
@EisenbergEffect  I'm new to Aurelia and I'm looking on how to add such effect to my app, but I was unable to found the blog post you mentioned above. Can you please provide me the link to it or to any other guide on how to achieve simultaneous outgoing/ingoing animations?

[2016-02-27 01:43] z-brooks commented on #7
@Tinadim I believe it's http://blog.durandal.io/2015/11/10/aurelia-pre-beta-release/
Search for `swap-order`. (`<router-view swap-order=""></router-view>` )

[2016-02-27 03:50] EisenbergEffect commented on #7
@joelcox Can you describe that briefely for @z-brooks ?

[2016-02-27 04:02] z-brooks commented on #7
@EisenbergEffect did I link the wrong blog post :confounded:? @Tinadim  was asking which blog post you meant in the earlier comment.

[2016-02-27 04:09] EisenbergEffect commented on #7
`swap-order` is what you want. Probably with a value of `both`
That's the correct post.

[2016-03-02 06:40] Zoltu opened #44 "Long animations can lead to invalid DOM state."
http://plnkr.co/edit/LwzMIIeAOtI5V08CMTL3?p=preview

Click the `Toggle Condition` two times in quick succession (under 2 second), wait a couple second, then notice how both items go away, yet the `if.bind` on both clearly indicates that one should always be visible.

Including source code below in case the plunkr doesn't work at some point.  Leaving out JSPM boilerplate.

main.js
[code]

app.js
[c

[2016-03-02 15:29] EisenbergEffect commented on #44
@martingust I think this may be the same issue that we are trying to track down on the repeater...

[2016-03-03 08:01] zewa666 commented on #40
@EisenbergEffect not sure how important this one is, but maybe we can wait for a fix for the other issue regarding the list that Martin is working on and release those then together.

[2016-03-03 14:58] EisenbergEffect commented on #40
I think it can wait for now.

[2016-03-07 20:54] martingust commented on #44
@EisenbergEffect Just took a look at this and yes it's the same issue we had in the repeater. Will get a fix in for this.

[2016-03-13 11:29] martingust commented on #44
@EisenbergEffect @Zoltu This issue is fixed with this [PR](https://github.com/aurelia/templating-resources/pull/202)

[2016-03-21 20:34] #44 closed

[2016-03-23 08:09] #40 closed

[2016-04-20 11:20] Tseberechts opened #45 "el.addEventListener not a function"
Unhandled rejection TypeError: el.addEventListener is not a function on aurelia-animator-css.js?:30:10.

[2016-04-20 11:28] #45 closed

[2016-04-28 13:46] aqm5181 opened #46 "Concurrent Animations not working"
Hi,

ive uploaded a simple example to plunkr:
http://plnkr.co/edit/zGKBeN?p=preview

Basically, when there are multiple divs next to each other with animations applied via au-animate, only the top div is animated. This applied to the latest framework version: "1.0.0-beta.1.2.2".

Could you please have a look.

thanks

Aboobaker Mahomed

[2016-04-28 15:39] EisenbergEffect commented on #46
@zewa666 Can you look into this?

[2016-04-28 17:44] aqm5181 opened #47 "Animator interfering with other CSS Transitions"
Plunker Example:
http://plnkr.co/edit/ZTqND2?p=preview

Transitions applied to elements that do not have the au-animate attribute on them are affected by the animator in that the element is hidden immediately after the transition has completed. Bug only appears where "show.bind" condition is applied to the same element. The same issue doesnt seem to occur with if.bind.

Simple example above where

[2016-05-10 08:16] RomkeVdMeulen opened #48 "Repeater updates first and animates second"
I'm following [this guide](http://blog.durandal.io/2015/07/17/animating-apps-with-aurelia-part-1/) and expected to see something like:

![expected behaviour](http://blog.durandal.io/content/images/2015/07/list-staggered-animate.gif)

Instead I got:

![actual behaviour](http://i.imgur.com/ZnoYGY0.gif)

Not sure what I'm doing wrong: my code is essentially the same as in the guide.

[code]

[code]

[2016-05-10 08:46] zewa666 commented on #48
without a full example it's hard to replicate the issue, but I guess it might be because you've placed the class `au-stagger` onto the template tag. Please try to wrap the animated divs with another div and place the au-stagger over there, like

[code]

[2016-05-10 12:11] RomkeVdMeulen commented on #48
After a lot of trial-and-error I've found that the problem only occurs when there's interpolation in the animated element's `class` list.

I've created an [Plunkr](http://plnkr.co/edit/lqJCoVYJU1axgN30KEeC?p=preview) demonstrating the issue. The top three items have class interpolation, the bottom three don't. See what happens when you try to remove item number 2.

[2016-05-10 13:32] zewa666 commented on #48
hmm I've looked at your example few times and don't really have a clue what the error or bug is you're trying to point out.

[2016-05-10 16:31] RomkeVdMeulen commented on #48
That's strange... I'm seeing this bug in both Chrome and Firefox. Here's a screencast of what I'm seeing:

![screencast](http://i.imgur.com/hMUDEB9.gif)

When I click to remove item 2, it briefly becomes blue before folding. Same thing when I remove item 1.

You're not getting this?

[2016-05-11 05:49] zewa666 commented on #48
oh ok now I understand what you mean. Yep I can see the same effect. Hmmm honestly I have no clue whats causing this, guess maybe something related to how the ViewSlots are added and removed. @martingust and @EisenbergEffect do you maybe have an idea whats causing the issue with the class interpolation?

[2016-05-30 08:27] hadrienl opened #49 "Last item does not animate"
Hi,

I'm trying to make aurelia-css-animate to work but I have some problems. I've followed @EisenbergEffect  post and I finally have something which seems to work :

![mai-30-2016 10-23-04](https://cloud.githubusercontent.com/assets/225382/15644044/def1247a-2650-11e6-979b-774db91f3990.gif)

But not for the last item. Last item does not animate at all.

Then, if I add the `au-stagger` class to my

[2016-05-30 08:32] hadrienl commented on #49
AH AH AH ! I've found my mistake… so stupid…

I had a if.bind on my ul :

[code]

Don't make the same -_-

[2016-05-30 09:19] RomkeVdMeulen commented on #48
Any progress on this?

[2016-05-30 10:26] zewa666 commented on #49
haha ok. Guess we can close this one right? Lets reopen if you still encounter an issue

[2016-05-30 10:26] #49 closed

[2016-05-31 20:53] niieani commented on #48
@RomkeVdMeulen I have analyzed this issue (today) and I think I know where the problem lies. I'll get back to you on this.

[2016-06-16 07:21] XuJinNet opened #50 "How to use this plugin, have no doc ?"
Excuse me, how to use this plugin ? I don`t find the doc from aurelia.io.

[2016-06-23 15:56] MarcScheib commented on #50
Hi @XuJinNet,
there was an official blog post on this some time ago:
http://blog.durandal.io/2015/07/17/animating-apps-with-aurelia-part-1/

[2016-07-06 14:00] EisenbergEffect commented on #46
@zewa666 Ping.

[2016-07-06 14:00] EisenbergEffect commented on #47
@zewa666 Can you take a look?

[2016-07-06 19:57] EisenbergEffect commented on #48
@niieani Did you have any feedback on this?

[2016-07-06 22:15] niieani commented on #48
Haven't had the time to work on this yet, just did some preliminary assessment. It's on my list though.

[2016-07-16 20:50] mradzinski opened #51 "Typescript definitions"
Consider updating the .d.ts file and change all HTMLElement classes to Element. Had to do this manually for aurelia-css-animator to work with Typescript.

[2016-07-16 20:59] EisenbergEffect commented on #51
Would you be interested in submitting a PR with the fix? The type changes can be made directly in the source code. We use Babel Flow types to convert to TypeScript dts files.

[2016-09-01 00:33] z-brooks commented on #47
@EisenbergEffect @zewa666 Pull request open that should fix it.  I've tested it in a fresh skeleton without problems.

The event handlers were hanging around from the initial setup of the `show` attribute (since __aurelia-hide__ is not animated). `show` would then remove __aurelia-hide__ (when true) and the handlers would fire for the fade animation causing __aurelia-hide__ to be added again (from

[2016-09-01 13:37] #47 closed

[2016-09-02 10:14] hadrienl opened #54 "show and animation"
**I'm submitting a bug report**
- **Library Version:**
  1.0.0
- **Operating System:**
  OSX 10.x
- **Node Version:**
  6.2.0
- **NPM Version:**
  3.8.9
- **JSPM OR Webpack AND Version**
  CLI 1.0.0
- **Browser:**
  Chrome 52
- **Language:**
  ESNext

**Current behavior:**
I have an element with `show.bind` and `au-animate` class. When I toggle element, it doesn't animate correctly.

Here is my te

[2016-09-05 11:56] hadrienl commented on #54
Btw, no problem with `if` and its `au-(enter|leave)(-active)?`.

[2016-09-06 06:36] XuJinNet commented on #50
@MarcScheib Thank you.

[2016-09-13 08:13] hadrienl commented on #54
https://github.com/aurelia/animator-css/issues/47 fixes animation when using `.2s` delay but with `2s` it fails the same…

[2016-09-22 03:39] liamdawson commented on #50
I'll note that I found no reference to adding the plugin in the documentation, would recommend talking about it in the Hub. :)

[2016-09-22 03:50] liamdawson opened #55 "Infinite scrolling animation delays accumulate"
**I'm submitting a bug report**
- **Library Version:**
  1.0.1

**Please tell us about your environment:**
- **Operating System:**
  Linux (Debian Jessie)
- **Node Version:**
  4.5.0

- **NPM Version:**
  3.10.6

- **Build Tooling:**
  Using Aurelia CLI version 0.18.0
- **Browser:**
  Chrome 53
- **Language:**
  ESNext

**Steps:**
- Have a list with `au-stagger` with a 0.2s transition delay
- Add

[2016-09-22 05:01] liamdawson commented on #55
Culprit: https://github.com/aurelia/animator-css/blob/master/src/animator.js#L324

If you have any quick pointers on how to fix this, I'll happily do and PR.

[2016-09-26 04:01] EisenbergEffect commented on #55
@zewa666 Do you have any thoughts on this?

[2016-10-03 04:09] EisenbergEffect commented on #54
@zewa666 Can you look into this?

[2016-11-24 17:46] thrillstone commented on #46
@zewa666, is there any update on this bug? From what I can tell, the bug isn't with the CSS animator but instead with the ViewSlot's implementation of `animateView` which only ever passes a single element from a view to the animator when it calls the `getAnimatableElement(view)` function. I would imagine that it should be getting all of the `au-animate` elements and looping over them, getting the

[2016-11-24 18:02] zewa666 commented on #46
I did not yet have the chance to look at it, sry :(
Will try to catch up asap

[2016-11-29 19:48] JoshHarris commented on #54
We also discovered something like this with a show.bind when the animation ends aurelia-hide comes back. As stated above if.bind works just fine, but we cant use if.bind in this particular situation. Without the animation it works fine.

[2016-12-10 21:30] lmj0011 opened #56 "update aurelia-templating to v1.1.4"
update the dep `aurelia-templating` to v1.1.4

see: https://github.com/aurelia/app-ux-showcase/issues/10

[2016-12-10 21:35] #56 closed

[2016-12-10 21:36] lmj0011 commented on #56
`"aurelia-templating": "^1.0.0"` :=  `"aurelia-templating": "1.0.0"` < `"aurelia-templating": "2.0.0"`

[2016-12-14 09:57] fracz commented on #54
+1

[2017-01-23 04:02] alu opened #57 "Throw an error that is view.bindingContext is null when use au-stagger with if.bind and push item to empty array"
**I'm submitting a bug report**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Linux (fedora 23)

* **Node Version:**
7.4.0

* **NPM Version:**
4.0.5

* **JSPM OR Webpack AND Version**
webpack 1.14.0

* **Browser:**
Firefox 50.1.0

* **Language:**
typescript 2.1.5

**Current behavior:**

Throw an error that is ` view.bindingContext is null` when u

[2017-01-24 06:35] zewa666 commented on #57
@alu actually I got a different error for your example. Its root is in the templating repo, but I've queued a PR for a fix.

[2017-01-26 09:24] illiusmedia commented on #54
I hade the same problem but only with Firefox.
Made this workaround (instead of the show.bind-attribute):
``<button class="au-animate ${myBool? 'aurelia-hide-add' : ''}">hidden button</button``

**CSS:**
.aurelia-hide-add {
    display: inline !important; /* TODO: Remove this later (firefox hack) */
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.aure

[2017-01-30 04:13] #57 closed

[2017-02-16 14:06] erkalicious commented on #44
This issue still happens when `show.bind` and its animator classes are used as opposed to `if.bind`.

[2017-02-28 20:04] gpetrioli opened #58 "wrong classes applied when re-animating an element whose child elements are also animated"
**I'm submitting a bug report**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.2

* **Browser:**
all

**Current behavior:**
I am animating a custom element, that is using `if.bind` to add/remove from dom, with the `au-animate` and the `au-enter-active`, `au-leave-active` and `au-left`.
P

[2017-03-01 16:43] icegnome commented on #54
I'm still experiencing au-animate not working correctly on show.bind, did this issue just get dropped?

[2017-03-17 13:13] ne0guille commented on #51
can you update yout d.ts file? would be a time saver thanks!

[2017-03-31 00:11] nathanchase commented on #54
Yeah, I don't see au-animate working on show.bind either - in aurelia-animator-css OR aurelia-animator-velocity.

[2017-04-04 00:42] estaylorco opened #59 "Add toggleClass() to the animation abstraction"
**I'm submitting a feature request**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
7.3.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Presently, the animation abstraction offers up `addClass()` and `removeClass()`.  This

[2017-04-04 17:31] z-brooks commented on #55
@zewa666 @EisenbergEffect https://github.com/aurelia/animator-css/pull/60
I didn't see a way get how many elements are changing state (enter/leave) so I've stored the currently active count in the stagger parent to use as the delay multiplier. Acceptable?

[2017-04-05 06:40] #55 closed

[2017-04-05 06:45] zewa666 commented on #51
@ne0guille, @mradzinski you're right guys sorry for the oversight and for it taking so long. Will be fixed with the next release

[2017-04-05 06:53] zewa666 commented on #55
@z-brooks, @liamdawson please give it a try with the new release

[2017-04-05 06:53] zewa666 commented on #51
ok the release is out, please give it a try and reply here if somethings still not working as expected

[2017-04-05 06:53] #51 closed

[2017-04-05 20:13] dabide commented on #54
I just had a look at the source code: Aurelia searches for the first element in a view having an `au-animate` class. The configured animator implementation is then used: When the element is attached to the DOM, the `enter()` method is called on it, and when it is removed, the `leave()` method is called.

This means that when using `show.bind`, we need to handle the animation ourselves.

The Aureli

[2017-04-05 20:33] dabide commented on #54
I looked a bit more, and in fact the animator is used by the `show` attribute to add and remove the `aurelia-hide` class. So perhaps I was wrong...

[2017-04-27 09:16] Kukks commented on #50
This should really be addressed along with adding a bundled default animator. Info on this library seems to exist on a small handful of posts dating back to 2015..

[2017-09-21 00:11] jordan-ware commented on #54
`view-slot.js` (aurelia-templating) appears to plug into the animator and trigger on leave/entry animations. `if.js` is built on top of `view-slot.js`.

`show.bind` (`show.js`) is a standalone attribute and only adds and removes a custom class to hide the element.

Seems like a simple fix for `show.js` to use the animator - would there be a reason we wouldn't do it this way?

[2017-09-21 00:31] jordan-ware commented on #54
Ok, so `show.bind` uses the animator `removeClass()` and `addClass()` methods, which take your class and run animations for `{your-class}-add` and `{your-class}-remove`. The `show.bind`  calls this with the aureliaHideClassName constant: `aurelia-hide`.

So in your css you just have to add animations for those classes, e.g.:
[code]

and make sure your element with the binding has au-animate, e.g.:

[2017-09-21 00:44] EisenbergEffect commented on #54
@jordan-ware Thanks for being willing to dig into the code and share your findings with the community here. I apologize that this isn't well-documented. I'd love to see if we can improve this. Would anyone on this thread be interested in putting together a markdown file that explains how to use the CSS animation system? We could add that to our official documentation and give the author full credi

[2017-09-21 03:05] jordan-ware commented on #54
Seems I was off the mark with this issue - the problem is that classes are getting overlayed when show.bind changes during an animation. I'll have a look - show.bind may just need to manage this concurrent behavior and queue transitions a little better or there may be some change to the animator.

Will report back though I probably won't get time until the weekend.

[2017-10-22 13:19] jordan-ware commented on #54
Sorry for the delay, my schedules only really just lightened up. I've submitted a PR containing the fix. It appears there was a unit test for this, but it wasn't configured properly and was reporting a false positive.

The addClass/removeClass will now cancel the previous animation and pretty much start from the beginning of the latest animation triggered. I chose this over chaining the animations

[2017-10-24 03:21] jordan-ware commented on #54
I see the release containing this fix is now available on NPM.

I've upgraded my project and it has fixed the issue I was experiencing using `show.bind`.

Should be safe to close this now I think.

[2017-10-24 03:27] #54 closed

[2017-10-24 03:27] EisenbergEffect commented on #54
Thanks!

[2017-11-30 19:28] browillow commented on #46
I have confirmed that this is still an existing issue with `aurelia-animator-css@1.0.4`
My use case was having individual `au-animate` classes on a parent div and a child div. The parent div animates successfully, but the child div does not. I confirmed the OP sibling case still doesn't work as well.

It would be a really nice improvement if multiple `au-animate` elements were supported in the sam

[2018-01-09 16:15] erperejildo opened #66 "ngRepeat animation (feature)"
Is there any possible way to animate the elements that we are adding on a ngRepeat?

I found 2 ways:
A) Adding the classes directly on the tag with the ngRepeat. This is the easiest one but not really functional because we will animate it every time we come back to this view and we have no control over this
B) Adding hidden on the ngRepeat and every time we add one element we add a .show() but doe

[2018-01-09 16:19] erperejildo commented on #66
Sorry, wrong repo

[2018-01-09 16:19] #66 closed

[2018-03-02 21:31] Alexander-Taran commented on #48
stale since 2016

[2018-10-31 15:11] HamedFathi opened #68 "Support CSS3 transition"
**I'm submitting a feature request**

* **Library Version:**
1.0.4

**Please tell us about your environment:**
* **Operating System:**
Windows [7|10]

* **Node Version:**
10.1.0

* **NPM Version:**
6.4.0

* **JSPM OR Webpack AND Version**
webpack 4.0

* **Browser:**
all

* **Language:**
TypeScript 3.0

**Current behavior:**

`animator-css` can not work with css3 `transitions`. you can find the det

[2019-06-03 11:50] RomkeVdMeulen commented on #48
I ran into this issue again today so I thought I'd poke this old issue in the hopes it won't be completely forgotten.

[2020-01-10 13:01] lorond opened #70 "Animation flickers"
**I'm submitting a bug report**

* **Library Version:**
aurelia-animator-css 1.0.4
aurelia-bootstrapper 2.3.2
aurelia-cli 1.2.3

**Please tell us about your environment:**

* **Operating System:**
Windows 10

* **Node Version:**
10.15.0

* **NPM Version:**
6.4.1

* **Webpack Version**
webpack 4.41.5

* **Browser:**
Chrome  79.0.3945.117
Firefox 72.0.1

* **Language:**
all

**Current behavior:**
Th

[2020-01-11 18:34] EisenbergEffect commented on #70
@lorond Apologies for the inconvenience this caused. We're pretty hard at work on Aurelia 2 and we've been trying to avoid potential breaking changes on v1, so I'm a bit nervous about changing our implementation at this stage. As an alternative, it sounds like we could improve the documentation. Would you be willing to contribute a pull request to the animation documentation based on your experien

[2020-01-12 15:00] zewa666 commented on #70
@lorond you're absolutely right, animationDoneClasses are exactly there for these cases and they are totally undocumented. If you can create a PR for the docs as @EisenbergEffect mentioned I'll review it and help out with the details if needed.

[2021-01-11 08:35] davidGrocerKey commented on #54
This still does not work on Mac,  the '-add' and '-remove' are not being added to the 'aurelia-hide' class. On Windows, it does work
@EisenbergEffect

[2021-01-11 09:09] zewa666 commented on #54
When you say Mac do you mean Safari @davidGrocerKey ?

[2021-01-11 09:18] davidGrocerKey commented on #54
No,  even on Chrome on Mac

[2021-01-11 10:07] zewa666 commented on #54
Hmm that sounds weird. Perhaps you can share a minimal repro, I need to figure out meanwhile where to get a Mac